@import "/styles/globals.scss";

.manga-card-normal {
  width: 100%;
  padding-right: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6px;
  cursor: pointer;

  & div {
    width: 100%;
    padding-top: 142.5%;
    background-position: top;
    background-size: cover;
    margin-bottom: 8px;
    border: 1px solid $gray-color;
    position: relative;

    .image-cover-default {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  & p {
    line-height: 24px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-weight: 500;
    min-height: 48px;
  }
}
