@import "/styles/globals.scss";

.Navbar {
  height: 3.25rem;
  background-color: $white-color;
  border-bottom: 0.0625rem solid $gray-color;
}

.Navbar-right-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  & span {
    margin-right: 0.625rem;
  }

  & a {
    padding: 0 0.625rem;
    color: $black-color;
  }

  .logo {
    padding: 0;
  }

  & p {
    margin: 0;
    padding: 0 0.625rem;
    color: $black-color;
    cursor: pointer;
  }
}

.navbar-avatar {
  display: none;
}

.Navbar-left-content {
  display: flex;
  align-items: center;

  & a {
    padding: 0 0.375rem;
    & i {
      font-size: 25.6px;
    }
  }
}

.navbar-avatar {
  margin-right: 0.375rem;
  display: none !important;
}

.Navbar-popover {
  padding: 12px;
}

.Navbar-right-content-mobile {
  font-size: 22.4px;
  padding-right: 4px;

  & i {
    position: relative;
    top: 0.0938rem;
  }

  &-list {
    display: flex;
    flex-direction: column;

    & a {
      color: $black-color !important;
      padding: 10px 24px;
      display: block;
      border-bottom: 1px solid $gray-color;
    }

    & a:last-child {
      border-bottom: none;
    }
  }
}

@media (min-width: 47.9375rem) {
  .Navbar-right-content-mobile {
    display: none;
  }
}

@media (max-width: 47.9375rem) {
  .Navbar-right-content {
    & a {
      display: none;
    }

    .logo {
      display: block;
      margin: 0 10px;
    }
  }

  .navbar-user {
    display: none !important;
  }

  .navbar-avatar {
    display: flex !important;
  }
}
