@import "/styles/globals.scss";

.footer {
  background-color: $white-color;
  width: 100%;
  border-top: 1px solid $gray-color;
  margin-top: 40px;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-icon {
  display: flex;

  h2 {
    display: block;
    margin-right: 14px;
  }
}

.credit {
  display: flex;
}

@media (max-width: 762px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    & .credit {
      flex-direction: column;
    }
  }
}
