@import "/styles/globals.scss";

.browse-content {
  // border-bottom: $gray-color solid 1px;
  padding: 1rem 0;
  user-select: none;

  &:first-child {
    padding-top: 0;
  }
}

.browse-sort {
  user-select: none;
  margin-bottom: 4px;
  cursor: pointer;
  width: fit-content;
  align-items: center;
  display: flex;
}

.browse-manga {
  border: $gray-color solid 1px;
  padding-left: 1rem !important;
  padding-top: 1rem !important;
}

.browse-list {
  overflow: hidden;
  margin: 0;

  & li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 8px;
    cursor: pointer;
    border-radius: 2px;
    margin: 0;
    transition: all ease-in-out 0.1s;
  }

  & li:hover {
    background-color: #fef0d6;
  }
}

.browse-content-drop {
  & div:first-child {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
}

.browse-pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.browse-sort-list {
  margin: 0;

  & li {
    margin: 0;
    padding: 6px 14px;
    cursor: pointer;
  }

  & li:hover {
    background-color: #fef0d6;
  }
}

.browse-status {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 500px;

  & i {
    font-size: 35px;
    margin-bottom: 4px;
  }
}

.grid-item {
  display: inherit;
  flex: 0 0 16.6667%;
  max-width: 16.6667%;
}

@media (max-width: 1370px) {
  .grid-item {
    display: inherit;
    flex: 0 0 20%;
    max-width: 20%;
  }
}

@media (max-width: 1060px) {
  .grid-item {
    display: inherit;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (max-width: 721px) {
  .grid-item {
    display: inherit;
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
}

@media (max-width: 721px) {
  .grid-item {
    display: inherit;
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
}

@media (max-width: 550px) {
  .grid-item {
    display: inherit;
    flex: 0 0 50%;
    max-width: 50%;
  }
}