@import "/styles/globals.scss";

.seasonnal {
  margin-top: 15px;

  & a {
    position: relative;

    & h3 {
      display: inline;
    }
    & i {
      position: absolute;
      top: 50%;
      transform: translateY(-62%);
      right: -20px;
      color: $black-color;
    }
  }
}
