/* quicksand-regular - latin */
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/quicksand-v29-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/quicksand-v29-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/quicksand-v29-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("/fonts/quicksand-v29-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/quicksand-v29-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/fonts/quicksand-v29-latin-regular.svg#Quicksand") format("svg"); /* Legacy iOS */
}
/* quicksand-500 - latin */
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/quicksand-v29-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/quicksand-v29-latin-500.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/quicksand-v29-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/quicksand-v29-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/quicksand-v29-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/fonts/quicksand-v29-latin-500.svg#Quicksand") format("svg"); /* Legacy iOS */
}
/* quicksand-600 - latin */
@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/quicksand-v29-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("/fonts/quicksand-v29-latin-600.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/quicksand-v29-latin-600.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/quicksand-v29-latin-600.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/quicksand-v29-latin-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("/fonts/quicksand-v29-latin-600.svg#Quicksand") format("svg"); /* Legacy iOS */
}

$white-color: #fff;
$black-color: #000;
$background-color: #121212;
$gray-color: #8a8a8a;
$dark-gray-color: #2a2a2a;

.container-global-class {
  :global(.global-class) {
    box-sizing: border-box;
  }
}

.link-desc,
.link-name {
  display: list-item;
  width: fit-content;
  margin-left: 20px;
  color: orange;

  &::marker {
    color: black;
    font-size: 1.2em;
  }
}

.link-name {
  color: #000;
  margin-bottom: 4px;
}

.link-desc-1 {
  color: orange;
}
