@import "/styles/globals.scss";

.manga-content {
  margin-top: 20px;
}

.manga-action-zone {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & div:last-child {
    margin: 0;
    margin-top: 8px;
    padding-left: 20px;
  }
}

.manga-tags {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
}

.manga-sub-content {
  margin-top: 15px;
  border: none;
  border: 1px solid $gray-color;
  padding: 15px;

  & div {
    & p {
      margin-top: 0;
      text-align: justify;
    }
  }
}

.btn-group > button {
  border-radius: 0 !important;
  border: $gray-color solid 1px;
  color: $black-color;
}

.manga-pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 0.6rem;
}

.manga-detail {
  margin-left: 10px;
  display: flex;
  flex-direction: column;

  & div h1 {
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 3.4rem;
  }

  & div p {
    font-size: 1.4rem;
  }

  & p {
    margin-left: 0;
    margin-top: auto;
    font-size: 1.4rem;
  }
}

.divider {
  display: none;
  width: 100%;
  border-top: 1px solid $gray-color;
  margin: 6px 0;
}

.link-others {
  display: flex;
  flex-wrap: wrap;

  & a {
    margin-right: 0.6rem;
    margin-bottom: 0.6rem;
    padding: 3px 8px;
    display: flex;
    border: 1px solid $gray-color;
    align-items: center;
    justify-self: center;

    & b {
      margin: 0;
    }
  }
}

@media (max-width: 1270px) {
  .manga-detail {
    margin-left: 8px;

    & div h1 {
      font-size: 2.4rem;
    }
  }
}

@media (max-width: 1000px) {
  .manga-detail {
    margin-left: 6px;

    & div h1 {
      font-size: 2.2rem;
    }
  }

  .manga-action-zone {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & div:last-child {
      padding-left: 0px;
    }
  }
}

@media (max-width: 959px) {
  .manga-sub-content {
    & div {
      & div:first-child {
        & hr {
          display: none !important;
        }
      }
    }
  }

  .content-child {
    padding-right: 2rem;
    margin-bottom: 0.1rem;
  }

  .divider {
    display: block;
  }
}

@media (max-width: 800px) {
  .manga-detail {
    & div h1 {
      font-size: 2rem;
    }
  }
}

@media (max-width: 700px) {
  .manga-detail {
    margin-left: 5px;

    & div h1 {
      font-size: 1.8rem;
    }

    & div p {
      font-size: 1rem;
    }

    & p {
      font-size: 1rem;
    }
  }
}

@media (max-width: 500px) {
  .manga-detail {
    & h1 {
      font-size: 1.4rem;
    }
  }
}
